<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutorSite</title>
    <!-- FONT LINK -->
    <link href="https://fonts.googleapis.com/css?family=Contrail+One|Damion|Galada|Kelly+Slab|Lobster|Lobster+Two|Odibee+Sans&display=swap" rel="stylesheet">
    <!--LOCAL STYLESHEETS-->
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/about.css">
</head>
<body>
    <!--HEADER SECTION STARTS HERE-->
    <body>
        <!--HEADER SECTION STARTS HERE-->
        <header>
            <nav class="navbar navbar-expand-lg bg-none navbar-light">
                <div class="container">
                    <!-- <a class="navbar-brand" href="#"></a> -->
                    <a class="navbar-brand" href="./home.html"><img src="../assets/img/home/tutor.png" height="50px"
                            width="180px"></a>
                    <button class="navbar-toggler collapsed" onclick="openNav()" type="button"
                        data-target="#mySidena">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse invisible-lg" data-toggle="collapse" id="mySidena">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="./home.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./about.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./courses.html">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./E-learning.html">E-learning</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./contact.html">Contact us</a>
                            </li>
                            <li class="btn-home nav-item bg-white">
                                <a type="button" href="#" class="btn btn-outline">Buy now <i class="fas fa-angle-right"
                                        style="color: #F97F62;"></i>
                                </a>
    
                            </li>
                        </ul>
                    </div>
                </div>
                
    
            </nav>
    
            <div id="mySidenav" class="sidenav" data-toggle="hide">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a type="button" href="#" class="btn btn-outline btn-slider mt-5">Buy now <i class="fas fa-angle-right"
                    style="color: #F97F62;"></i>
            </a>
                <a href="./home.html">Home</a>
                <a href="./about.html">About</a>
                <a href="./courses.html">Courses</a>
                <a href="./E-learning.html">E-learning</a>
                <a href="./contact.html">Contact us</a>
              </div>
            </header>

    <!--HEADER SECTION ENDS HERE-->

    <!--MAIN SECTION STARTS HERE-->
    <main>
        <section id="section-about">
            <div class="jumbotron container">
                <h1 id="section-learning-text1">About Us</h1>
            </div>
        </section>
        <section id="section-about-first" >
            <div id="about-first_title" class="text-justify container" >
                <h1>Curabitur sed iaculis dolor</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur at culpa officia dolorem, reprehenderit autem eos alias! Voluptas, officiis debitis. Magnam consectetur dicta dolore temporibus sint cumque neque voluptatum omnis.</p>
            </div>
            <div class="container section-body" id="table-first">
                <div class=" row ">
                    <div class="col-md-6" id="table-first-firstcol">
                        <p>Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit 
                            ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt ut eros a, 
                            vulputate consequat odio. Vestibulum vehicula tempor nulla, sed hendrerit urna 
                            interdum in. Donec et nibh maximus, congue.
                        </p>
                        <p>Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit 
                            ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt ut eros a, 
                            vulputate consequat odio. Vestibulum vehicula tempor nulla, sed hendrerit urna 
                            interdum in. Donec et nibh maximus, congue.
                        </p>
                    </div>
                    <div class="col-md-6" id="table-first-secondcol">
                        <p>
                            Sed ultrices nisl velit, eu ornare est ullamcorper a. Nunc quis nibh magna. 
                            Proin risus erat, fringilla vel purus sit amet, mattis porta enim.
                        </p>
                        <div id="ptag">
                            <p><i class="fas fa-check-circle" style="color:#f97c5f"></i> Proin risus erat, fringilla vel purus</p>
                            <p><i class="fas fa-check-circle" style="color:#f97c5f"></i> Proin risus erat, fringilla vel purus</p>
                            <p><i class="fas fa-check-circle" style="color:#f97c5f"></i> Proin risus erat, fringilla vel purus</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-about-second">
            <div class="container section-body" id="table-second">
                <div class=" row ">
                    <div class="col-md-6" id="table-second-firstcol">
                        <img src="../assets/img/about-pic1.jpg" alt="" height="auto" width="100%">
                    </div>
                    <div class="col-md-6" id="table-second-secondcol">
                        <div id="about-second_title"  >
                            <h1>Fusce ut velit</h1>
                            <div id="about-second_title-maintext">
                                <p>
                                    Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend 
                                    erat at justo fringilla imperdiet id ac magna. Suspendisse vel facilisis 
                                    odio, at ornare nibh. In malesuada, tortor eget sodales mollis, mauris 
                                    lectus hendrerit purus, porttitor finibus eros lorem eget mauris. Curabitur 
                                    lacinia enim at ex blandit, vel.
                                </p>
                                <p>
                                    Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit 
                                    ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt ut eros 
                                    a, vulputate consequat odio. Vestibulum vehicula tempor nulla, sed hendrerit 
                                    urna interdum in.
                                </p>
                            </div>
                            <div id="button_first">
                                <a href="about.html"> <button class="button_one">Read More</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="section-about-third" class="container">
            <div id="third-about_title"> 
                <h1>Tellus commodo</h1>
            </div>
            <div class="section-body" id="table-third">
                <div class=" row ">
                    <div class="col-md-7" id="table-four-firstcol">
                        <h1>Mauris maximus velit</h1>
                        <p>LOREM IPSUM DOLOR SIT</p>
                        
                    </div>
                    <div class="col-md-5" id="table-third-secondcol">
                       
                        <div class="row">
                            <div class="col-6" id="table-third-secondcol-firstbtn">
                                <div id="button_second">
                                    <a href="about.html"><button class="button_two">Read More</button></a>
                                </div>
                            </div>
                            <div class="col-6" id="table-third-secondcol-secondbtn">
                                <div id="button_third">
                                    <a href="about.html"><button class="button_three">Contuct Us</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="section-body" id="table-four">
                    <div class=" row ">
                        <div class="col-md-7" id="table-four-firstcol">
                            <h1>Nam lacinia suscipit accumsan</h1>
                            <p>ELEIFEND JUSTO VEL</p>
                            
                        </div>
    
                        <div class="col-md-5" id="table-four-secondcol">
                            <div class="row">
                                <div class="col-6" id="table-four-secondcol-firstbtn">
                                    <div id="button_four">
                                        <a href="about.html"><button class="button_four">Read More</button></a>
                                    </div>
                                </div>
                                <div class="col-6" id="table-four-secondcol-secondbtn">
                                    <div id="button_five">
                                        <a href="about.html"> <button class="button_five">Contuct Us</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="section-body" id="table-five">
                        <div class=" row ">
                            <div class="col-md-7" id="table-five-firstcol">
                                <h1>Donec sodales neque</h1>
                                <p>IN HENDRERIT NULLA</p>    
                            </div>
        
                            <div class="col-md-5" id="table-five-secondcol">
                                <div class="row">
                                    <div class="col-6" id="table-five-secondcol-firstbtn">
                                        <div id="button_six">
                                            <a href="about.html"> <button class="button_six">Read More</button></a>
                                        </div>
                                    </div>
                                    <div class="col-6" id="table-five-secondcol-secondbtn">
                                        <div id="button_seven">
                                            <a href="about.html">  <button class="button_seven">Contuct Us</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-about-four" class="">
            <div class="container section-body" id="table-six">
                <div class=" row ">
                    <div class="col-md-6 " id="table-six-firstcol">
                        <div id="six-first-title">
                            <h1>E-Learning</h1>
                            <h1>Platform</h1>
                        </div>
                        <div id="six-second-title">
                            <p>
                                Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna 
                                maximus. Cras massa nibh, tincidunt ut eros a, vulputate.
                            </p>
                        </div>
                        <div id="six-third-option">
                            <p><i class="fas fa-check-circle" style="color:#f97c5f"></i> Morbi vestibulum id</p>
                            <p><i class="fas fa-check-circle" style="color:#f97c5f"></i> Aliquam erat volutpat</p>
                            <p><i class="fas fa-check-circle" style="color:#f97c5f"></i> Semper accumsan id</p>
                        </div>
                        <div id="button_eight">
                            <button class="button_eight">Try For Free</button>
                        </div>
                    </div>

                    <div class="col-md-6" id="table-six-secondcol">
                        <img src="./../assets/img/about-pic2.png" alt="" height="auto" width="100%">
                    </div>
                </div>
            </div>
        </section>
        <section id="section-about-five" class="mt-5">
            <div class="container section-body pt-5" id="table-seven">
                <div class=" row " >
                    <div class="col-md-4 " id="table-seven-firtstcol">
                        <div id="table-seven-firtstcol-first_text">
                            <h4>Our address</h4>
                        </div>
                        <div id="table-seven-firtstcol-second_text">
                            <p>
                                Level 13, 2 Elizabeth St,
                            </p>
                            <p>
                                Melbourne, Victoria 3000, 
                            </p>
                            <p>
                                Australia
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 " id="table-seven-secondcol">
                        <div id="table-seven-secondcol-first_text">
                            <h4>Opening hours</h4>
                        </div>
    
                        <div id="table-seven-secondcol-second_text">
                            <p>
                                Monday - Friday
                            </p>
                            <p>
                                09:00 AM - 06:00 PM 
                            </p>
                        </div>
    
                        <div id="table-seven-secondcol-third_text">
                            <p>
                                Saturday 
                                 
                            </p>
                            <p>
                                10:00 AM - 05:00 PM
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 " id="table-seven-thirdcol">
                        <div id="table-seven-thirdcol-first_text">
                            <h1>
                                <a href="https://www.twitter.com">  <i class="fab fa-twitter-square"></i></a>
                                <a href="https://www.facebook.com/"> <i class="fab fa-facebook-square"></i></a>
                                <a href="https://www.skype.com"> <i class="fab fa-skype"></i></a>
                            </h1>
                        </div>
                        <div id="table-seven-thirdcol-second-text">
                            <h2>+61 (0) 383 766 284 <i class="fas fa-mobile-alt" style="color:#f97c5f"></i></h2>
                        </div>
                        <div id="table-seven-thirdcol-third-text">
                            <p>If you have any question, feel free to call us</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--MAIN SECTION END HERE-->

    <!--FOOTER SECTION STARTS HERE-->
    <footer id="footer">
        <hr>
        <div class="container section-body" id="footer-table">
            <div class=" row " >
                <div class="col-md-8 " id="footer-table-firtstcol">
                    <p>© 2020 - BeTheme. All Rights LinkTech IT.</p>
                </div>
                <div class="col-md-4 " id="footer-table-secondcol">
                   <a href="about.html"><i class="fas fa-angle-up fa-2x"></i></a> 
                </div>
            </div>
        </div>
       
    </footer>
    <!--FOOTER SECTION END HERE-->
    <script src="./../assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="./../assets/js/popper.min.js"></script>
    <script src="./../assets/js/bootstrap.min.js"></script>
    <!-- ICON LINK --> 
    <script src="https://kit.fontawesome.com/ef03c7fd35.js" crossorigin="anonymous">
    
    </script>
        <script src="./../assets/js/script.js"></script>

</body>
</html>

