<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <!-- FONT FAMILY LINK -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <!-- 
        font-family: 'Abril Fatface', ; 
    -->
    <!--LOCAL STYLESHEETS-->
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/contact.css">
    
</head>

<body>
     <!--HEADER SECTION STARTS HERE-->
     <header>
        <nav class="navbar navbar-expand-lg bg-none navbar-light">
            <div class="container">
                <!-- <a class="navbar-brand" href="#"></a> -->
                <a class="navbar-brand" href="./home.html"><img src="../assets/img/home/tutor.png" height="50px"
                        width="180px"></a>
                <button class="navbar-toggler collapsed" onclick="openNav()" type="button"
                    data-target="#mySidena">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse invisible-lg" data-toggle="collapse" id="mySidena">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="./home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./courses.html">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./E-learning.html">E-learning</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contact.html">Contact us</a>
                        </li>
                        <li class="btn-home nav-item bg-white">
                            <a type="button" href="#" class="btn btn-outline">Buy now <i class="fas fa-angle-right"
                                    style="color: #F97F62;"></i>
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
            

        </nav>

        <div id="mySidenav" class="sidenav" data-toggle="hide">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a type="button" href="#" class="btn btn-outline btn-slider mt-5">Buy now <i class="fas fa-angle-right"
                style="color: #F97F62;"></i>
        </a>
            <a href="./home.html">Home</a>
            <a href="./about.html">About</a>
            <a href="./courses.html">Courses</a>
            <a href="./E-learning.html">E-learning</a>
            <a href="./contact.html">Contact us</a>
            
          </div>
          </header>
    <!--HEADER SECTION ENDS HERE-->

    <!--MAIN SECTION STARTS HERE-->
    <main>
        <section id="section-contact">
            <div class="jumbotron container">
                <h1 id="section-learning-text1">Contact Us</h1>
            </div>
        </section>
        <section id="section-contact-first">
            <div class="container section-body" id="contact-table-first">
                <div class=" row ">
                    <div class="col-md-6" id="contact-table-first-firstcol">
                        <div id="contact-table-first-firstcol-title">
                            <h1>Leave a message</h1>
                        </div>
                        <div id="contact-table-first-firstcol-contactform">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                      <!-- <label for="email">Phone Number</label> -->
                                      <input type="name" class="form-control" id="inputName" placeholder="Your Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <!-- <label for="password">Email</label> -->
                                      <input type="email" class="form-control" id="inputEmail" placeholder="Your Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!-- <label for="name">Name</label> -->
                                    <input type="text" class="form-control" id="inputName" placeholder="Subject">
                                </div>
                                
                                <div class="form-group">
                                    <!-- <label for="message">Message</label> -->
                                    <input type="text" class="form-control" id="inputMessage" placeholder="Message">
                                </div>
                                <!-- <button type="submit" class="btn btn-primary">Send a message</button> -->
                                <div id="contact-button_first">
                                    <a href="about.html"> <button class="button_one">Send a message</button></a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-1">
                    </div>
                    <div class="col-md-5" id="contact-table-first-secondcol">
                        <div id="contact-table-first-secondcol-group">
                            <div id="phone">
                                <h5>Phone</h5>
                                <h4><i class="fas fa-phone-alt" style="color:#f97c5f"> </i> +61 (0) 383 766 284</h4>
                            </div>
                            <div id="email">
                                <h5>Email</h5>
                                <h4><i class="fas fa-envelope" style="color:#f97c5f"></i> noreply@envato.com</h4>
                            </div>
                            <div id="address">
                                <h5>Address</h5>
                                <h4>Level 13, 2 Elizabeth St,<br>
                                    Melbourne, Victoria 3000,<br>
                                    Australia</h4>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </section>
        <section id="section-contact-third" >
            <div class="container" id="section-contact-third-text">
                <h1>Subscribe<br>to our newsletter</h1>
            </div>
            <div id="section-contact-third-text_field">
                <form>
                    <input type="text" id="fname" name="firstname" placeholder="Your E-Mail">
                    <div id="section-contact-third-button_second">
                        <a href="#"> <button class="button_two">Sign Up Now</button></a>
                    </div>
                </form>
            </div>
        </section>

        <section id="section-about-five">
            <div class="container section-body" id="table-seven">
                <div class=" row " >
                    <div class="col-md-4 " id="table-seven-firtstcol">
                        <div id="table-seven-firtstcol-first_text">
                            <h4>Our address</h4>
                        </div>
                        <div id="table-seven-firtstcol-second_text">
                            <p>
                                Level 13, 2 Elizabeth St,
                            </p>
                            <p>
                                Melbourne, Victoria 3000, 
                            </p>
                            <p>
                                Australia
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 " id="table-seven-secondcol">
                        <div id="table-seven-secondcol-first_text">
                            <h4>Opening hours</h4>
                        </div>
    
                        <div id="table-seven-secondcol-second_text">
                            <p>
                                Monday - Friday
                            </p>
                            <p>
                                09:00 AM - 06:00 PM 
                            </p>
                        </div>
    
                        <div id="table-seven-secondcol-third_text">
                            <p>
                                Saturday 
                                 
                            </p>
                            <p>
                                10:00 AM - 05:00 PM
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 " id="table-seven-thirdcol">
                        <div id="table-seven-thirdcol-first_text">
                            <h1>
                                <a href="https://www.twitter.com">  <i class="fab fa-twitter-square"></i></a>
                                <a href="https://www.facebook.com/"> <i class="fab fa-facebook-square"></i></a>
                                <a href="https://www.skype.com"> <i class="fab fa-skype"></i></a>
                            </h1>
                        </div>
                        <div id="table-seven-thirdcol-second-text">
                            <h2>+61 (0) 383 766 284 <i class="fas fa-mobile-alt" style="color:#f97c5f"></i></h2>
                        </div>
                        <div id="table-seven-thirdcol-third-text">
                            <p>If you have any question, feel free to call us</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--MAIN SECTION END HERE-->
    <footer id="footer">
        <hr>
        <div class="container section-body" id="footer-table">
            <div class=" row " >
                <div class="col-md-8 " id="footer-table-firtstcol">
                    <p>© 2020 - BeTheme. All Rights LinkTech IT.</p>
                </div>
                <div class="col-md-4 " id="footer-table-secondcol">
                   <a href="contact.html"><i class="fas fa-angle-up fa-2x"></i></a> 
                </div>
            </div>
        </div>
       
    </footer>

    <script src="./../assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="./../assets/js/popper.min.js"></script>
    <script src="./../assets/js/bootstrap.min.js"></script>
    <!-- ICON LINK --> 
    <script src="https://kit.fontawesome.com/ef03c7fd35.js" crossorigin="anonymous">
    </script>
</body>