<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutorSite</title>
    <!--LOCAL STYLESHEETS-->
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/E-learning.css">



    <!-- FRONT AWESOME LINK CS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <!-- FONT GOOGLE HAS BEEN USED -->
    <link href="https://fonts.googleapis.com/css?family=DM+Sans|DM+Serif+Display&display=swap" rel="stylesheet">
    <!-- font-family: 'DM Serif Display', serif; -->


</head>
<body>
    <!--HEADER SECTION STARTS HERE-->
    <header>
        <nav class="navbar navbar-expand-lg bg-none navbar-light">
            <div class="container">
                <!-- <a class="navbar-brand" href="#"></a> -->
                <a class="navbar-brand" href="./home.html"><img src="../assets/img/home/tutor.png" height="50px"
                        width="180px"></a>
                <button class="navbar-toggler collapsed" onclick="openNav()" type="button"
                    data-target="#mySidena">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse invisible-lg" data-toggle="collapse" id="mySidena">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="./home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./courses.html">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./E-learning.html">E-learning</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contact.html">Contact us</a>
                        </li>
                        <li class="btn-home nav-item bg-white">
                            <a type="button" href="#" class="btn btn-outline">Buy now <i class="fas fa-angle-right"
                                    style="color: #F97F62;"></i>
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
            

        </nav>

        <div id="mySidenav" class="sidenav" data-toggle="hide">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a type="button" href="#" class="btn btn-outline btn-slider mt-5">Buy now <i class="fas fa-angle-right"
                style="color: #F97F62;"></i>
        </a>
            <a href="./home.html">Home</a>
            <a href="./about.html">About</a>
            <a href="./courses.html">Courses</a>
            <a href="./E-learning.html">E-learning</a>
            <a href="./contact.html">Contact us</a>
            
          </div>
          </header>
    <!--HEADER SECTION ENDS HERE-->


<main>
    <section id="section-e-learning-home">
        <div class="jumbotron container">
            <div id="section-learning-text1" class="">
                <p>E - Learning</p>
                
            </div>
        </div>

    </section>

    <section id="section-e-learning-english" class="mt-5">
        <div class="container">
        <div class="e-learning-image">
            <img src="../assets/img/elearning/tutor-elearning-pic1.jpg" alt="">

        </div>
        <div class="row mt-5">
            <div class="col-lg-4">
                <div id="section-elearning-eng-text2"
                        style="background-image:url('https://themes.muffingroup.com/be/tutor/wp-content/uploads/2019/11/tutor-how-icon7.png');">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum molestiae tenetur eligendi aliquid tempora fugit.</h5>
                    </div>
            </div>
            <div class="col-lg-4">
                <div id="section-elearning-eng-text2"
                        style="background-image:url('https://themes.muffingroup.com/be/tutor/wp-content/uploads/2019/11/tutor-how-icon8.png');">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum molestiae tenetur eligendi aliquid tempora fugit.</h5>
                    </div>
            </div>
            <div class="col-lg-4">
                <div id="section-elearning-eng-text2"
                        style="background-image:url('https://themes.muffingroup.com/be/tutor/wp-content/uploads/2019/11/tutor-how-icon9.png');">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum molestiae tenetur eligendi aliquid tempora fugit.</h5>
                    </div-lg>
            </div>
            

        </div>
    </div>

    </section>
    <section id="section-e-learning-details" class="mt-5">
        <div class="container">
            <h1>Curabitur lacinia enim at ex blandit</h1>
            <div class="row">
                <div class="col-lg-5" id="elearning-details-text2">
                    <h2>Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat.</h2>
                    <div id="ptag" class="elearning-details-text2">
                        <p><i class="fas fa-check-circle" style="color:#f97c5f"></i> Proin risus erat, fringilla vel purus</p>
                        <p><i class="fas fa-check-circle" style="color:#f97c5f"></i> Proin risus erat, fringilla vel purus</p>
                        <p><i class="fas fa-check-circle" style="color:#f97c5f"></i> Proin risus erat, fringilla vel purus</p>
                    </div>
                </div>
                <div class="col-lg-7" id="elearning-details-text2">
                    <p>Duis dignissim mi ut laoreet mollis. Nunc id tellus finibus, eleifend mi vel, maximus justo. Maecenas mi tortor, pellentesque a aliquam ut, fringilla eleifend lectus. Maecenas ultrices tellus sit amet sem placerat tempor. Maecenas eget arcu venenatis, sagittis felis sit amet, dictum nisl.</p>
                    <br>
                    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus vitae vulputate elit. Fusce interdum justo quis.

                </p>
                <button type="button" href="#" class="btn btn-edetails">Read more
                </button>
                </div>
            </div>
            

        </div>
    </section>

    <section id="lastsectionofera" class="mt-5" >
    <div class="container">
        <h1 style="font-family: 'DM Serif Display', serif;">Why you should choose us?</h1>
        <div class="row pt-5">
            <div class="col-lg-6" id="lasterafont">
                <h3 sty><img src="../assets/img/home/tutor-elearning-icon5.png" style="padding-right: 20px;"></img> Nulla sit vestibulum

                    <h5 style="padding-left:90px; color: black; font-family: 'DM Serif', sans-serif;">Curabitur sed iaculis dolor, non congue ligula. Maecenas imperdiet ante eget hendrerit posuere.

                    </h5>
                    <p style="padding-left:90px; color: #7d736d;">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget egestas.
    
                    </p>
                </h3>


            </div>
            <div class="col-lg-6" id="lasterafont">
                <h3><img src="../assets/img/home/tutor-elearning-icon6.png" style="padding-right: 20px;"></img> Nulla sit vestibulum

                    <h5 style="padding-left:90px; color: black; font-family: 'DM Serif', sans-serif;">Curabitur sed iaculis dolor, non congue ligula. Maecenas imperdiet ante eget hendrerit posuere.

                    </h5>
                    <p style="padding-left:90px; color: #7d736d;">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget egestas.
    
                    </p>
                </h3>


            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" id="lasterafont">
                <h3><img src="../assets/img/home/tutor-elearning-icon7.png" style="padding-right: 20px;"></img> Nulla sit vestibulum

                    <h5 style="padding-left:90px;">Curabitur sed iaculis dolor, non congue ligula. Maecenas imperdiet ante eget hendrerit posuere.

                    </h5>
                    <p style="padding-left:90px; color: #7d736d;">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget egestas.
    
                    </p>
                </h3>


            </div>
            <div class="col-lg-6" id="lasterafont">
                <h3><img src="../assets/img/home/tutor-elearning-icon5.png" style="padding-right: 20px;"></img> Nulla sit vestibulum

                    <h5 style="padding-left:90px;">Curabitur sed iaculis dolor, non congue ligula. Maecenas imperdiet ante eget hendrerit posuere.

                    </h5>
                    <p style="padding-left:90px; color: #7d736d;">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget egestas.
    
                    </p>
                </h3>


            </div>
        </div>

    </div>


</section>

    <!-- FOOTER TOP DETAILS -->

    <section id="section-about-five" class="mt-5">
        <div class="container section-body pt-5" id="table-seven">
            <div class=" row " >
                <div class="col-md-4 " id="table-seven-firtstcol">
                    <div id="table-seven-firtstcol-first_text">
                        <h4>Our address</h4>
                    </div>
                    <div id="table-seven-firtstcol-second_text">
                        <p>
                            Level 13, 2 Elizabeth St,
                        </p>
                        <p>
                            Melbourne, Victoria 3000, 
                        </p>
                        <p>
                            Australia
                        </p>
                    </div>
                </div>
                <div class="col-md-4 " id="table-seven-secondcol">
                    <div id="table-seven-secondcol-first_text">
                        <h4>Opening hours</h4>
                    </div>

                    <div id="table-seven-secondcol-second_text">
                        <p>
                            Monday - Friday
                        </p>
                        <p>
                            09:00 AM - 06:00 PM 
                        </p>
                    </div>

                    <div id="table-seven-secondcol-third_text">
                        <p>
                            Saturday 
                             
                        </p>
                        <p>
                            10:00 AM - 05:00 PM
                        </p>
                    </div>
                </div>
                <div class="col-md-4 " id="table-seven-thirdcol">
                    <div id="table-seven-thirdcol-first_text">
                        <h1>
                            <a href="https://www.twitter.com">  <i class="fab fa-twitter-square"></i></a>
                                <a href="https://www.facebook.com/"> <i class="fab fa-facebook-square"></i></a>
                                <a href="https://www.skype.com"> <i class="fab fa-skype"></i></a>
                        </h1>
                    </div>
                    <div id="table-seven-thirdcol-second-text">
                        <h2>+61 (0) 383 766 284 <i class="fas fa-mobile-alt" style="color:#f97c5f"></i></h2>
                    </div>
                    <div id="table-seven-thirdcol-third-text">
                        <p>If you have any question, feel free to call us</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</main>
<!--MAIN SECTION END HERE-->

<!--FOOTER SECTION STARTS HERE-->
<footer id="footer">
    <hr>
    <div class="container section-body" id="footer-table">
        <div class=" row " >
            <div class="col-md-8 " id="footer-table-firtstcol">
                <p>© 2020 - BeTheme. All Rights LinkTech IT.</p>
            </div>
            <div class="col-md-4 " id="footer-table-secondcol">
               <a href="about.html"><i class="fas fa-angle-up fa-2x"></i></a> 
            </div>
        </div>
    </div>
   
</footer>
<!--FOOTER SECTION END HERE-->


</main>
<!--MAIN SECTION ENDS HERE-->

<!-- SECTION STARTS HERE-->



<!-- BOOTSTRAP LINK JS -->

<script src="./../assets/js/jquery-3.4.1.slim.min.js"></script>
<script src="./../assets/js/popper.min.js"></script>
<script src="./../assets/js/bootstrap.min.js"></script>
<!-- FRONT AWESOME LINK JS -->
<script src="https://kit.fontawesome.com/ef03c7fd35.js" crossorigin="anonymous"></script>
<!-- JS LINK -->
<script src="./../assets/js/script.js"></script>

</body>

</html>