<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutorSite</title>
    <!--LOCAL STYLESHEETS-->
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/max-width600.css">
    <link rel="stylesheet" href="../assets/css/max-width1200.css">



    <!-- FRONT AWESOME LINK CS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <!-- FONT GOOGLE HAS BEEN USED -->
    <link href="https://fonts.googleapis.com/css?family=DM+Sans|DM+Serif+Display&display=swap" rel="stylesheet">
    <!-- font-family: 'DM Serif Display', serif; -->


</head>

<body>
    <!--HEADER SECTION STARTS HERE-->
    <header>
        <nav class="navbar navbar-expand-lg bg-none navbar-light">
            <div class="container">
                <!-- <a class="navbar-brand" href="#"></a> -->
                <a class="navbar-brand" href="./home.html"><img src="../assets/img/home/tutor.png" height="50px"
                        width="180px"></a>
                <button class="navbar-toggler collapsed" onclick="openNav()" type="button"
                    data-target="#mySidena">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse invisible-lg" data-toggle="collapse" id="mySidena">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="./home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./courses.html">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./E-learning.html">E-learning</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contact.html">Contact us</a>
                        </li>
                        <li class="btn-home nav-item bg-white">
                            <a type="button" href="#" class="btn btn-outline">Buy now <i class="fas fa-angle-right"
                                    style="color: #F97F62;"></i>
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
            

        </nav>

        <div id="mySidenav" class="sidenav" data-toggle="hide">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a type="button" href="https://www.foodpanda.com.bd/" class="btn btn-outline btn-slider mt-5">Buy now <i class="fas fa-angle-right"
                style="color: #F97F62;"></i>
        </a>
            <a href="./home.html">Home</a>
            <a href="./about.html">About</a>
            <a href="./courses.html">Courses</a>
            <a href="./E-learning.html">E-learning</a>
            <a href="./contact.html">Contact us</a>
            
          </div>
          </header>
    <!--HEADER SECTION ENDS HERE-->

    <!--MAIN SECTION STARTS HERE-->

    <main>
        <!-- SECTION HOME HERO START HERE -->
        <section id="section-home-hero">

            <div class="jumbotron container">
                <div id="section-home-text1" class="">
                    <p>Broaden your</p>
                    <p>knowledge</p>
                    <p>with tutors</p>
                </div>

                <div class="midsccenter row">
                    <div class=" col-lg-6">
                        <div id="section-home-text2" class="">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae pariatur iste dolorum,
                                explicabo vel consectetur?
                            </p>
                        </div>
                    </div>

                </div>
                <div id="section-home-btn">
                    <button type="button" class="btn">Our courses</button>

                </div>
            </div>

        </section>

        <!-- SECTION HOME SUBJECTS START HERE -->
        <section id="section-home-subject">
            <div class="jumbotron container" id="section-home-subject-text">
                <div class="row">
                    <div class=" col-lg-5">
                        <div id="section-home-subject-text1" class="">
                            <p>Popular subjects</p>
                        </div>
                    </div>
                    <div class=" col-lg-4">
                    </div>

                    <div class=" col-lg-3">
                        <div id="section-home-subject-btn">
                            <a type="button" href="#" class="btn btn-outline">All categories<i
                                    class="fas fa-angle-right pl-4" style="color: white;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- POPULAR COURSES START HERE -->
            <div class="container">
                <div class="row " id="section-home-subject-popular">
                    <!-- 1st  -->
                    <div class="subject-popular-card col-lg-3">
                        <a href="#" style="text-decoration: none" ;>
                            <div id="section-home-subject-popular" class="card py-3">
                                <img class="popular-btn-image card-img-top"
                                    src="../assets/img/home/tutor-courses-icon4.png">
                                <div class="card-body">
                                    <p class="popular-btn-text card-text">Art</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- 2nd -->
                    <div class="subject-popular-card col-lg-3">
                        <a href="#" style="text-decoration: none" ;>
                            <div id="section-home-subject-popular" class="card py-3">
                                <img class="popular-btn-image card-img-top"
                                    src="../assets/img/home/tutor-courses-icon7.png">
                                <div class="card-body">
                                    <p class="popular-btn-text card-text">Chemistry</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- 3rd -->
                    <div class="subject-popular-card col-lg-3">
                        <a href="#" style="text-decoration: none" ;>
                            <div id="section-home-subject-popular" class="card py-3">
                                <img class="popular-btn-image" src="../assets/img/home/tutor-courses-icon6.png">
                                <div class="card-body">
                                    <p class="popular-btn-text card-text">Language</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- 4th -->
                    <div class="subject-popular-card col-lg-3">
                        <a href="#" style="text-decoration: none" ;>
                            <div id="section-home-subject-popular" class="card py-3">
                                <img class="popular-btn-image" src="../assets/img/home/tutor-courses-icon8.png">
                                <div class="card-body">
                                    <p class="popular-btn-text card-text">Law</p>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="row " id="section-home-subject-popular">
                    <!-- 1st  -->
                    <div class="subject-popular-card col-lg-3">
                        <a href="#" style="text-decoration: none" ;>
                            <div id="section-home-subject-popular" class="card py-3">
                                <img class="popular-btn-image card-img-top"
                                    src="../assets/img/home/tutor-courses-icon5.png">
                                <div class="card-body">
                                    <p class="popular-btn-text card-text">Mathematics</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- 2nd -->
                    <div class="subject-popular-card col-lg-3">
                        <a href="#" style="text-decoration: none" ;>
                            <div id="section-home-subject-popular" class="card py-3">
                                <img class="popular-btn-image card-img-top"
                                    src="../assets/img/home/tutor-courses-icon9.png">
                                <div class="card-body">
                                    <p class="popular-btn-text card-text">Music</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- 3rd -->
                    <div class="subject-popular-card col-lg-3">
                        <a href="#" style="text-decoration: none" ;>
                            <div id="section-home-subject-popular" class="card py-3">
                                <img class="popular-btn-image" src="../assets/img/home/tutor-courses-icon5.png">
                                <div class="card-body">
                                    <p class="popular-btn-text card-text">Physcis</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- 4th -->
                    <div class="subject-popular-card col-lg-3">
                        <a href="#" style="text-decoration: none" ;>
                            <div id="section-home-subject-popular" class="card py-3">
                                <img class="popular-btn-image" src="../assets/img/home/tutor-courses-icon3.png">
                                <div class="card-body">
                                    <p class="popular-btn-text card-text">Programming</p>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </section>

        <!-- SECTION HOME CHOOSE US START HERE -->
        <section id="section-home-chooseus" class="mt-5">
            <div class="jumbotron container">
                <div class="row">
                    <div class="col-lg-5">
                        <div id="section-home-chooseus-text1" class="">
                            <p>Why you should choose us?</p>
                        </div>
                        <div id="section-home-chooseus-text2" class="">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae pariatur iste dolorum,
                                explicabo vel consectetur?
                            </p>
                        </div>
                        <div id="section-home-chooseus-btn">
                            <a type="button" href="#" class="btn btn-outline">About us<i class="fas fa-angle-right pl-4"
                                    style="color: white;"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="">
                            <img class="home-chooseus-image" src="../assets/img/home/tutor-elearning-icon4.png">
                            <div id="section-home-chooseus-text3" class="">
                                <p>Nulla sit vestibulum</p>
                            </div>
                            <div id="section-home-chooseus-text4" class="">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae pariatur iste
                                    dolorum,
                                    explicabo vel consectetur?
                                </p>
                            </div>
                        </div>
                        <div class="mt-5">
                            <img class="home-chooseus-image" src="../assets/img/home/tutor-elearning-icon5.png">
                            <div id="section-home-chooseus-text3" class="">
                                <p>Faucibus lorem</p>
                            </div>
                            <div id="section-home-chooseus-text4" class="">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae pariatur iste
                                    dolorum,
                                    explicabo vel consectetur?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="">
                            <img class="home-chooseus-image" src="../assets/img/home/tutor-elearning-icon6.png">
                            <div id="section-home-chooseus-text3" class="">
                                <p>Fusce ut velit</p>
                            </div>
                            <div id="section-home-chooseus-text4" class="">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae pariatur iste
                                    dolorum,
                                    explicabo vel consectetur?
                                </p>
                            </div>
                        </div>
                        <div class="mt-5">
                            <img class="home-chooseus-image" src="../assets/img/home/tutor-elearning-icon7.png">
                            <div id="section-home-chooseus-text3" class="">
                                <p>Molestie tortor</p>
                            </div>
                            <div id="section-home-chooseus-text4" class="">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae pariatur iste
                                    dolorum,
                                    explicabo vel consectetur?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- SECTION HOME CHOOSE US END HERE -->

        <!-- SECTION HOME WORKS START HERE -->
        <section id="section-home-works" class="mt-5">
            <div class="container">
                <div id="section-home-works-text1" class="text-center">
                    <p>How it works?</p>
                </div>
                <div class="row">
                    <!-- 1st -->
                    <div class="col-lg-4">
                        <div id="section-home-work-image" class="text-center">
                            <img id="work-btn-image" src="../assets/img/home/tutor-how-icon4.png">

                        </div>
                        <div id="section-home-work-text2"
                            style="background-image:url('https://themes.muffingroup.com/be/tutor/wp-content/uploads/2019/11/tutor-how-icon7.png');">
                            <h5>Fusce interdum justo quis libero ultricies laoreet.</h5>
                        </div>

                    </div>
                    <!-- 2nd -->
                    <div class="col-lg-4">
                        <div id="section-home-work-image" class="text-center">
                            <img id="work-btn-image" src="../assets/img/home/tutor-how-icon5.png">

                        </div>
                        <div id="section-home-work-text2"
                            style="background-image:url('https://themes.muffingroup.com/be/tutor/wp-content/uploads/2019/11/tutor-how-icon8.png');">
                            <h5>Fusce interdum justo quis libero ultricies laoreet.</h5>
                        </div>

                    </div>
                    <!-- 3rd -->
                    <div class="col-lg-4">
                        <div id="section-home-work-image" class="text-center">
                            <img id="work-btn-image" src="../assets/img/home/tutor-how-icon6.png">

                        </div>
                        <div id="section-home-work-text2"
                            style="background-image:url('https://themes.muffingroup.com/be/tutor/wp-content/uploads/2019/11/tutor-how-icon9.png');">
                            <h5>Fusce interdum justo quis libero ultricies laoreet.</h5>
                        </div>


                    </div>
                </div>
            </div>


        </section>

        <!-- SECTION HOME WORKS END HERE -->
        <!-- SECTION HOME E-LEARNING START -->
        <section id="section-about-four">
            <div class="container section-body" id="table-six">
                <div class=" row ">
                    <div class="col-md-6 " id="table-six-firstcol">
                        <div id="six-first-title">
                            <h1>E-Learning</h1>
                            <h1>Platform</h1>
                        </div>
                        <div id="six-second-title">
                            <p>
                                Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna 
                                maximus. Cras massa nibh, tincidunt ut eros a, vulputate.
                            </p>
                        </div>
                        <div id="six-third-option">
                            <p><i class="fas fa-check-circle" style="color:#f97c5f"></i> Morbi vestibulum id</p>
                            <p><i class="fas fa-check-circle" style="color:#f97c5f"></i> Aliquam erat volutpat</p>
                            <p><i class="fas fa-check-circle" style="color:#f97c5f"></i> Semper accumsan id</p>
                        </div>
                        <div id="button_eight">
                            <button class="button_eight">Try For Free</button>
                        </div>
                    </div>

                    <div class="col-md-6" id="table-six-secondcol">
                        <img src="./../assets/img/about-pic2.png" alt="" height="auto" width="100%">
                    </div>
                </div>
            </div>
        </section>
          <!-- SECTION HOME E-LEARNING END -->

        <!-- SECTION COURSES START HERE -->
        <section id="section-home-courses" class="mt-5">
            <div class="container">
                <div id="section-home-courses-text1">
                    <p>Our courses</p>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <a href="./Nullam viverra.html" target="_blank"><img class="card-img-top "
                                src="./../assets/img/home/tutor-courses-pic1-1200x675.jpg" alt="Card image cap"></a>
                        <button class="btn btn-dark float-right n"><i class="far fa-heart">&nbsp65</i></button>
                        <button class="btn b mt-2 btn-responsive ">Languages</button>
                        <button class="btn b mt-2 btn-responsive">Programming</button>
                        <div class="card-body">
                            <h4 class="card-title">Nullam viverra</h4>
                            <p class="card-text p-color">Lorem ipsum dolor sit amet enim. Etiam ullamcorper felis.</p>
                            <hr>
                            <p class="card-text p-color time"><i class="far fa-clock"></i>&nbsp November 8, 2019</p>
                        </div>
                    </div>
                    <div class=" col-lg-4">
                        <img class="card-img-top r" src="./../assets/img/home/tutor-courses-pic2-1200x675.jpg"
                            alt="Card image cap">
                        <button class="btn btn-dark float-right n"><i class="far fa-heart">&nbsp42</i></button>
                        <button class="btn b mt-2 btn-responsive ">Music</button>
                        <button class="btn b mt-2 btn-responsive ">Physics</button>
                        <div class="card-body">
                            <h4 class="card-title">Aliquam erat</h4>
                            <p class="card-text p-color">Lorem ipsum dolor sit amet enim. Etiam ullamcorper felis.</p>
                            <hr>

                            <p class="card-text p-color time"><i class="far fa-clock"></i>&nbsp November 8, 2019</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <img class="card-img-top" src="./../assets/img/home/tutor-courses-pic3-1200x675.jpg"
                            alt="Card image cap">
                        <button class="btn btn-dark float-right n"><i class="far fa-heart">&nbsp50</i></button>
                        <button class="btn  b mt-2 btn-responsive">Geography</button>
                        <div class="card-body">
                            <h4 class="card-title">Aliquam erat</h4>
                            <p class="card-text p-color">Lorem ipsum dolor sit amet enim. Etiam ullamcorper felis.</p>
                            <hr>
                            <p class="card-text p-color time"><i class="far fa-clock"></i>&nbsp November 8, 2019</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- SECTION COURSES END HERE -->

        <section id="section-home-features" class="mt-5">
            <div class="container">
                <div id="section-home-features-text1">
                    <p>Our core features</p>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="">
                            <img class="home-chooseus-image" src="../assets/img/home/tutor-home-icon2.png">
                            <div id="section-home-chooseus-text3" class="">
                                <p>Fusce ut velit</p>
                            </div>
                            <div id="section-home-chooseus-text4" class="">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae pariatur iste
                                    dolorum,
                                    explicabo vel consectetur?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="">
                            <img class="home-chooseus-image" src="../assets/img/home/tutor-home-icon1.png">
                            <div id="section-home-chooseus-text3" class="">
                                <p>Fusce ut velit</p>
                            </div>
                            <div id="section-home-chooseus-text4" class="">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae pariatur iste
                                    dolorum,
                                    explicabo vel consectetur?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="">
                            <img class="home-chooseus-image" src="../assets/img/home/tutor-home-icon3.png">
                            <div id="section-home-chooseus-text3" class="">
                                <p>Fusce ut velit</p>
                            </div>
                            <div id="section-home-chooseus-text4" class="">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae pariatur iste
                                    dolorum,
                                    explicabo vel consectetur?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-about-five" class="mt-5">
            <div class="container section-body pt-5" id="table-seven">
                <div class=" row " >
                    <div class="col-md-4 " id="table-seven-firtstcol">
                        <div id="table-seven-firtstcol-first_text">
                            <h4>Our address</h4>
                        </div>
                        <div id="table-seven-firtstcol-second_text">
                            <p>
                                Level 13, 2 Elizabeth St,
                            </p>
                            <p>
                                Melbourne, Victoria 3000, 
                            </p>
                            <p>
                                Australia
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 " id="table-seven-secondcol">
                        <div id="table-seven-secondcol-first_text">
                            <h4>Opening hours</h4>
                        </div>
    
                        <div id="table-seven-secondcol-second_text">
                            <p>
                                Monday - Friday
                            </p>
                            <p>
                                09:00 AM - 06:00 PM 
                            </p>
                        </div>
    
                        <div id="table-seven-secondcol-third_text">
                            <p>
                                Saturday 
                                 
                            </p>
                            <p>
                                10:00 AM - 05:00 PM
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 " id="table-seven-thirdcol">
                        <div id="table-seven-thirdcol-first_text">
                            <h1>
                                <a href="https://www.twitter.com">  <i class="fab fa-twitter-square"></i></a>
                                <a href="https://www.facebook.com/"> <i class="fab fa-facebook-square"></i></a>
                                <a href="https://www.skype.com"> <i class="fab fa-skype"></i></a>
                            </h1>
                        </div>
                        <div id="table-seven-thirdcol-second-text">
                            <h2>+61 (0) 383 766 284 <i class="fas fa-mobile-alt" style="color:#f97c5f"></i></h2>
                        </div>
                        <div id="table-seven-thirdcol-third-text">
                            <p>If you have any question, feel free to call us</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--MAIN SECTION END HERE-->

    <!--FOOTER SECTION STARTS HERE-->
    <footer id="footer">
        <hr>
        <div class="container section-body" id="footer-table">
            <div class=" row " >
                <div class="col-md-8 " id="footer-table-firtstcol">
                    <p>© 2020 - BeTheme. All Rights LinkTech IT.</p>
                </div>
                <div class="col-md-4 " id="footer-table-secondcol">
                   <a href="about.html"><i class="fas fa-angle-up fa-2x"></i></a> 
                </div>
            </div>
        </div>
       
    </footer>
    <!--FOOTER SECTION END HERE-->



    <!-- BOOTSTRAP LINK JS -->

    <script src="./../assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="./../assets/js/popper.min.js"></script>
    <script src="./../assets/js/bootstrap.min.js"></script>
    <!-- FRONT AWESOME LINK JS -->
    <script src="https://kit.fontawesome.com/ef03c7fd35.js" crossorigin="anonymous"></script>
    <!-- JS LINK -->
    <script src="./../assets/js/script.js"></script>

</body>

</html>