<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutorSite</title>
    <!--LOCAL STYLESHEETS-->
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="./../assets/css/demo.css">
    <!-- FRONT AWESOME LINK CS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>

<body>
    <!--HEADER SECTION STARTS HERE-->
    <header>
        <nav class="navbar navbar-expand-lg bg-none navbar-light">
            <div class="container">
                <!-- <a class="navbar-brand" href="#"></a> -->
                <a class="navbar-brand" href="./home.html"><img src="../assets/img/home/tutor.png" height="50px"
                        width="180px"></a>
                <button class="navbar-toggler collapsed" onclick="openNav()" type="button"
                    data-target="#mySidena">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse invisible-lg" data-toggle="collapse" id="mySidena">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="./home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./courses.html">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./E-learning.html">E-learning</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contact.html">Contact us</a>
                        </li>
                        <li class="btn-home nav-item bg-white">
                            <a type="button" href="#" class="btn btn-outline">Buy now <i class="fas fa-angle-right"
                                    style="color: #F97F62;"></i>
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
            

        </nav>

        <div id="mySidenav" class="sidenav" data-toggle="hide">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a type="button" href="#" class="btn btn-outline btn-slider mt-5">Buy now <i class="fas fa-angle-right"
                style="color: #F97F62;"></i>
        </a>
            <a href="./home.html">Home</a>
            <a href="./about.html">About</a>
            <a href="./courses.html">Courses</a>
            <a href="./E-learning.html">E-learning</a>
            <a href="./contact.html">Contact us</a>
            
          </div>
          </header>
    <!--HEADER SECTION ENDS HERE-->

    <!--MAIN SECTION STARTS HERE-->

    <main>

        <!-- courses section home  -->

        <section id="section-courses-home">
            <div class="jumbotron bg-transparent" style="padding-top: 150px;">
                <h1 class="display-3 ml-5  f">Nullam viverra</h1>
            </div>




        </section>

        <!-- courses section home end  -->


        <!-- section-courses-courses start -->


        <section id="section-courses-courses" class="container">


            <div class="row container">

                <div class="col-6">
                    <a href="#"><button class="btn btn-lg "><i class="pre fas fa-angle-left"></i></button> </a>


                </div>

                <div class="col-6">
                    <a href="#"><button class="btn btn-lg "><i class=" pre fas fa-home"></i></button> </a>



                </div>


            </div>

            <!-- section-courses-courses end  -->


            <!-- image view start  -->

                       
            <div class="row mt-5 container">

                <div class="col-12 align-content-center">
                    <div class="cours2" style="overflow:hidden;">
                        <img class="hover hoverr" src="./../assets/img/home/tutor-courses-pic1-1200x675.jpg"
                            style="transition:1s;">

                        <div class="cours3">


                        </div>

                        <div class="cours4 ">

                            <button class="search"><i class="fas fa-search"></i></button>

                        </div>

                    </div>
                </div>


                <div class="row">
                            <h1 class="col-12 display-4 text-center">This course includes</h1>
                </div>







            </div>











            <!-- image view end end  -->




            <!-- <div class="row"> -->
            <!-- <ul class="list-group list-group-horizontal">
                <li class="list-group-item col-lg-3 col-sm-6 ">First item</li>
                <li class="list-group-item col-lg-3 col-sm-6">Second item</li>
                <li class="list-group-item col-lg-3 col-sm-6">Third item</li>
                <li class="list-group-item col-lg-3 col-sm-6">Fourth item</li>
              </ul> 
           -->
            <!-- </div> -->
        </section>
        <section id="section-about-five" class="mt-5">
            <div class="container section-body pt-5" id="table-seven">
                <div class=" row " >
                    <div class="col-md-4 " id="table-seven-firtstcol">
                        <div id="table-seven-firtstcol-first_text">
                            <h4>Our address</h4>
                        </div>
                        <div id="table-seven-firtstcol-second_text">
                            <p>
                                Level 13, 2 Elizabeth St,
                            </p>
                            <p>
                                Melbourne, Victoria 3000, 
                            </p>
                            <p>
                                Australia
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 " id="table-seven-secondcol">
                        <div id="table-seven-secondcol-first_text">
                            <h4>Opening hours</h4>
                        </div>
    
                        <div id="table-seven-secondcol-second_text">
                            <p>
                                Monday - Friday
                            </p>
                            <p>
                                09:00 AM - 06:00 PM 
                            </p>
                        </div>
    
                        <div id="table-seven-secondcol-third_text">
                            <p>
                                Saturday 
                                 
                            </p>
                            <p>
                                10:00 AM - 05:00 PM
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 " id="table-seven-thirdcol">
                        <div id="table-seven-thirdcol-first_text">
                            <h1>
                                <a href="https://www.twitter.com">  <i class="fab fa-twitter-square"></i></a>
                                <a href="https://www.facebook.com/"> <i class="fab fa-facebook-square"></i></a>
                                <a href="https://www.skype.com"> <i class="fab fa-skype"></i></a>
                            </h1>
                        </div>
                        <div id="table-seven-thirdcol-second-text">
                            <h2>+61 (0) 383 766 284 <i class="fas fa-mobile-alt" style="color:#f97c5f"></i></h2>
                        </div>
                        <div id="table-seven-thirdcol-third-text">
                            <p>If you have any question, feel free to call us</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--MAIN SECTION END HERE-->

    <!--FOOTER SECTION STARTS HERE-->
    <footer id="footer">
        <hr>
        <div class="container section-body" id="footer-table">
            <div class=" row " >
                <div class="col-md-8 " id="footer-table-firtstcol">
                    <p>© 2020 - BeTheme. All Rights LinkTech IT.</p>
                </div>
                <div class="col-md-4 " id="footer-table-secondcol">
                   <a href="about.html"><i class="fas fa-angle-up fa-2x"></i></a> 
                </div>
            </div>
        </div>
       
    </footer>
    <!--FOOTER SECTION END HERE-->



    <!-- BOOTSTRAP LINK JS -->

    <script src="./../assets/js/jquery-3.4.1.slim.min.js"></script>

    <script src="./../assets/js/popper.min.js"></script>
    <script src="./../assets/js/bootstrap.min.js"></script>

    <!-- FRONT AWESOME LINK JS -->
    <script src="https://kit.fontawesome.com/ef03c7fd35.js" crossorigin="anonymous"></script>
    <!-- JS LINK -->
    <script src="./../assets/js/script.js"></script>

</body>

</html>